[submodule "windows_study"]
	path = windows_study
	url = git@github.com:MingYueRuYa/windows_study.git
[submodule "cpp_inside_object"]
	path = cpp_inside_object
	url = git@github.com:MingYueRuYa/cpp_inside_object.git
[submodule "DataStruct-Algorithm"]
	path = DataStruct-Algorithm
	url = git@github.com:MingYueRuYa/DataStruct-Algorithm.git
