[submodule "cpp_inside_object"]
	path = cpp_inside_object
	url = git@github.com:MingYueRuYa/cpp_inside_object.git
[submodule "cpp_study"]
	path = cpp_study
	url = git@github.com:MingYueRuYa/cpp_study.git
[submodule "awesome-cpp"]
	path = awesome-cpp
	url = git@github.com:MingYueRuYa/awesome-cpp.git
